.format-image{
    width: fit-content;
    height: fit-content;
}
.slider-box{
    padding-top: 10px;
    padding-bottom: 25px;
    margin-top: auto;
    background-color: rgba(209, 209, 209, 0.678);
}
.slider-container{
    width: 1485px; 
    height: 600px; 
    margin: 0 auto
}