<div>
    <div class="form-column">
        <div class="form-row">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input
            matInput
            type="text"
            id="firstName"
            name="firstName"
            [(ngModel)]="firstName"
            />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Apellido</mat-label>
            <input
            matInput
            type="text"
            id="lastName"
            name="lastName"
            [(ngModel)]="lastName"
            />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>FechaContrato</mat-label>
            <input
                matInput
                type="date"
                id="hireDate"
                name="hireDate"
                [(ngModel)]="hireDate"
            />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="status" name="status" id="status">
                <mat-option *ngFor="let status of statusOptions" [value]="status">
                  {{status}}
                </mat-option>
              </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>FechaBaja</mat-label>
            <input
            matInput
            type="date"
            id="fireDate"
            name="fireDate"
            [(ngModel)]="fireDate"
            />
        </mat-form-field>
        </div>
    </div>
    <div class="form-column">
        <div class="form-row">
        <button class="cancel-button" mat-raised-button routerLink="/dashboard/teachers">Cancelar</button>
        <button class="register-button" mat-raised-button (click)="updateTeacher()" routerLink="/dashboard/teachers">Actualizar</button>
        </div>
    </div>
</div>