<div>
  <div class="form-column">
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Matricula</mat-label>
        <input
          matInput
          type="text"
          id="matricula"
          name="matricula"
          [(ngModel)]="matricula"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <mat-select [(ngModel)]="status" name="status" id="status">
          <mat-option *ngFor="let status of statusOptions" [value]="status">
            {{status}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          type="text"
          id="firstName"
          name="firstName"
          [(ngModel)]="firstName"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input
          matInput
          type="text"
          id="lastName"
          name="lastName"
          [(ngModel)]="lastName"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Telefono</mat-label>
        <input
          matInput
          type="number"
          id="phone"
          name="phone"
          [(ngModel)]="phone"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>grupo</mat-label>
        <mat-select [(ngModel)]="group" name="group" id="group">
          <mat-option *ngFor="let group of groupOptions" [value]="group">
            {{group}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>FechaInscripcion</mat-label>
        <input
          matInput
          type="date"
          id="dateIns"
          name="dateIns"
          [(ngModel)]="dateIns"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>CantidadPago</mat-label>
        <input
          matInput
          type="number"
          id="payAmount"
          name="payAmount"
          [(ngModel)]="payAmount"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>FechaPagoInicial</mat-label>
        <input
          matInput
          type="date"
          id="initial_pay_date"
          name="initial_pay_date"
          [(ngModel)]="initial_pay_date"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>UltimaFechaPago</mat-label>
        <input
          matInput
          type="date"
          id="last_pay_date"
          name="last_pay_date"
          [(ngModel)]="last_pay_date"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>ProximaFechaPago</mat-label>
        <input
          matInput
          type="date"
          id="next_pay_date"
          name="next_pay_date"
          [(ngModel)]="next_pay_date"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>NivelDelEstudiante</mat-label>
        <mat-select [(ngModel)]="student_level" name="student_level" id="student_level">
          <mat-option *ngFor="let level of levelOptions" [value]="level">
            {{level}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="form-column">
    <div class="form-row">
      <button class="cancel-button" mat-raised-button routerLink="..">Cancelar</button>
      <button class="register-button" mat-raised-button (click)="addStudent()" routerLink="..">Registrar</button>
    </div>
  </div>
</div>
