<div class="summarytable-container">
  <button mat-stroked-button routerLink="crear">Agregar alumno</button>
  <router-outlet></router-outlet>
  <div *ngIf="showStudentTable">
    <table mat-table [dataSource]="this.allStudents" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- student_id Column -->
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let student">{{ student.id }}</td>
      </ng-container>

      <!-- matricula Column -->
      <ng-container matColumnDef="Matricula">
        <th mat-header-cell *matHeaderCellDef>Matricula</th>
        <td mat-cell *matCellDef="let student">{{ student.matricula }}</td>
      </ng-container>

      <!-- first_name Column -->
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let student">{{ student.first_name }}</td>
      </ng-container>

      <!-- last_name Column -->
      <ng-container matColumnDef="Apellido">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let student">{{ student.last_name }}</td>
      </ng-container>

      <!-- matricula Column -->
      <ng-container matColumnDef="Telefono">
        <th mat-header-cell *matHeaderCellDef>Telefono</th>
        <td mat-cell *matCellDef="let student">{{ student.phone }}</td>
      </ng-container>

      <!-- matricula Column -->
      <ng-container matColumnDef="Grupo">
        <th mat-header-cell *matHeaderCellDef>Grupo</th>
        <td mat-cell *matCellDef="let student">{{ student.group }}</td>
      </ng-container>
      <!-- matricula Column -->
      <ng-container matColumnDef="FechaInscripcion">
        <th mat-header-cell *matHeaderCellDef>FechaInscripcion</th>
        <td mat-cell *matCellDef="let student">{{ student.date_ins }}</td>
      </ng-container>
      <!-- matricula Column -->
      <ng-container matColumnDef="PaymentStatus">
        <th mat-header-cell *matHeaderCellDef>EstadoPago</th>
        <td mat-cell *matCellDef="let student">{{ student.payment_status }}</td>
      </ng-container>
      <ng-container matColumnDef="LastPaymentDate">
        <th mat-header-cell *matHeaderCellDef>UltimaFechaPago</th>
        <td mat-cell *matCellDef="let student">{{ student.last_pay_date }}</td>
      </ng-container>
      <ng-container matColumnDef="NextPaymentDate">
        <th mat-header-cell *matHeaderCellDef>ProximaFechaPago</th>
        <td mat-cell *matCellDef="let student">{{ student.next_pay_date }}</td>
      </ng-container>
      <ng-container matColumnDef="StudentLevel">
        <th mat-header-cell *matHeaderCellDef>NivelEstudiante</th>
        <td mat-cell *matCellDef="let student">{{ student.student_level }}</td>
      </ng-container>
      <ng-container matColumnDef="Accion">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <button mat-button class="edit-row-button" [routerLink]="['edit', row.id]">Editar</button>
          <button mat-button class="delete-row-button" (click)="deleteStudent(row.id)">Eliminar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
