.summarytable-container{
  margin: 10px;
}

table {
    width: 100%;
    padding: 1px
}
.edit-row-button{
  margin: 2px;
  background-color: rgb(255, 225, 0);
  color: white;
}
.delete-row-button{
  margin: 2px;
  background-color: red;
  color: white;
}