<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'push'"
    [opened]="(isHandset$ | async) === true"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="alumnos">Alumnos</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="grupos">Grupos</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="teachers">Maestros</a>
      <mat-divider></mat-divider>
      <app-auth0logout-button></app-auth0logout-button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="flex justify-content-between">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>CECSIN AdminPanel</span>
      <button
        type="button"
        aria-label="Go Back"
        mat-icon-button
        routerLink=".."
      >
        <mat-icon>home</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
